* {
    padding: 0;
    margin: 0;
    font-family: "BM Hanna 11yrs Old", serif;
}

.hidden {
    display: none;
}

:root {
    --color-1: #bb010b;
    --color-2: #cd1624;
    --color-3: #006f57;
    --color-4: #23856d;
    --color-5: #faf8f8;
}

/*********************************/
/*********************************/
/*********************************/

main {
    background-color: var(--color-5);
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 30px;
    border-bottom: 2px solid var(--color-5);
}

section {
    width: 80%;
    background-color: var(--color-4);
    outline: 18px solid var(--color-3);
    color: var(--color-5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 12px;
    gap: 20px;
    font-size: 22px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.generated-container {
    width: 80%;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}

li {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 12px;
    background-color: var(--color-1);
    outline: 5px solid var(--color-2);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

#age, #category, #keyword, button, h2 {
    margin-bottom: 20px;
}

button {
    width: 100px;
}


/* TODO: MAKE RESPONSIVE */
@media (max-width: 900px) {

}