/* Needed to make font work on Safari */
@font-face {
    font-family: "BM HANNA 11yrs old" !important;
    src: url("https://db.onlinewebfonts.com/t/8914c48bb6cbcf51c389da71e776340d.eot");
    src: url("https://db.onlinewebfonts.com/t/8914c48bb6cbcf51c389da71e776340d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/8914c48bb6cbcf51c389da71e776340d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/8914c48bb6cbcf51c389da71e776340d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/8914c48bb6cbcf51c389da71e776340d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/8914c48bb6cbcf51c389da71e776340d.svg#BM HANNA 11yrs old")format("svg");
}

* {
    padding: 0;
    margin: 0;
    font-family: "BM Hanna 11yrs Old", serif !important;
}

.hidden {
    display: none;
}

:root {
    --color-1: #bb010b;
    --color-2: #cd1624;
    --color-3: #006750;
    --color-4: #23856d;
    --color-5: #faf8f8;
    --color-6: #171717;
}

/*********************************/
/*********************************/
/*********************************/

body {
    background-color: var(--color-5);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    width: 100svw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
}

h1 {
    padding-top: 30px;
    font-size: 30px;
    border-bottom: 2px solid var(--color-5);
}

section {
    width: 80%;
    height: 100%;
    background-color: var(--color-4);
    border-left: 10px solid var(--color-3);
    border-right: 10px solid var(--color-3);
    outline: 120px dashed var(--color-2);
    color: var(--color-5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 20px;
}

select {
    -webkit-appearance: none !important;
    color: var(--color-6) !important;
}

input, select {
    background-color: var(--color-5);
    color: var(--color-6);
    outline: none;
    border: 5px solid var(--color-3);
    border-radius: 4px;
    padding: 8px;
    margin-top: 8px;
    font-size: 18px;
} input::placeholder {
      color: #000000;
      opacity: 40%;
  }

#age {
    width: 60px;
}

#keyword {
    width: 240px;
}

button {
    border: 6px solid var(--color-1);
    border-radius: 8px;
    background-color: var(--color-2);
    padding: 12px;
    font-size: 18px;
    color: var(--color-5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
} button:hover {
      border: 6px solid var(--color-2);
      background-color: var(--color-1);
  }

#age, #category, #keyword, button, h2, ul {
    margin-bottom: 20px;
}

.generated-container {
    width: 80%;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}

li {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 12px;
    background-color: var(--color-1);
    outline: 5px solid var(--color-2);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}


/* TODO: MAKE RESPONSIVE */
@media (max-width: 800px) {

    h1, h2 {
        text-align: center;
        padding-bottom: 10px;
    }

    body, main {
        outline: none;
        height: 100%;
        min-height: 100svh;
        background-color: var(--color-2);
    }

    section {
        overflow: hidden;
        outline: none;
        width: 80%;
        height: 100%;
    }


}